body{
    margin: 0px;
}
#particles-js{
    height: 100vh;
}
.idx_nav{
    background-image: linear-gradient(to bottom,white,white,rgb(233, 233, 233));
    height: 40px;
    padding: 10px;
    margin: 0px;
}
@media screen and (max-width: 430px) and (min-width: 100px) {
    .idx_nav,.navbs{
        height: 80px;
    }
    .righ{
        float: left !important;
    }
    .leftup{
        float: left !important;
    }
}
.strm_nav{
    background-image: linear-gradient(to bottom,rgb(233, 233, 233),white,rgb(233,233,233));
    height: 40px;
    padding: 10px;
    margin: 0px;
}
.bg_nav{
    background-image: linear-gradient(to bottom right,rgb(188, 188, 255),rgb(199, 221, 255),rgb(180, 161, 255));
    height: 40px;
    padding: 10px;
    padding-right: 15px;
    margin: 0px;
}
nav button{
    background-color: black;
    color: white;
    height: 35px;
}
nav button a:hover{
    color: rgb(137, 91, 255);
}
.navbs{
    display: inline-flexbox;
    position: relative;
    left: 1.5%;
    width: 99%;
}
.lefb{
    padding: 0px 18px;
    margin: 3px 8px;
    border-radius: 8px;
    font-family: 'Courgette', cursive;
    font-size: 15px;
}
.righb{
    float: right;
    padding: 0px 15px;
    margin: 3px 8px;
    border-radius: 8px;
    font-family: 'Courgette', cursive;
    font-size: 15px;
}
.main_container{
    background-image: linear-gradient(to bottom right,rgb(209,209,255),rgb(227,238,255),rgb(198,186,247));
    height: 400px;
    overflow-y: hidden;
}
.main_bottom{
    background-image: linear-gradient(to top,white,white,white,rgb(241, 241, 241));
    padding-top: 30px;
    padding-left: 40px;
    font-family: 'Noto Nastaliq Urdu', serif;
    font-size: 20px;
}
.bgidx_txt{
    padding-top: 27px;
    padding-left: 40px;
    font-family: 'Noto Nastaliq Urdu', serif;
    font-size: 20px;
}
.tiles{
    display: flexbox;
    margin: 10px 30px;
}
.tile{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin: 10px 15px;
    background-size: 100% 100%;
    width: 210px;
    height: 130px;
    transition: 0.3s;
}
.tile:hover{
    transform: translateY(-10px);
}
.t1{
    background-image: url(../Imgs/background_6.webp);
}
.t2{
    background-image: url(./../Imgs/background_2.jpg);
}
.t3{
    background-image: url(./../Imgs/background_3.png);
}
.t4{
    background-image: url(./../Imgs/background_4.jpg);
}
.t5{
    background-image: url(./../Imgs/moretxt.jpeg);
    background-size: 105% 100%;
    opacity: 0.7;
}
.anchor_tg {
    color: aliceblue;
    text-decoration-line: none;
}
.bg_main{
    display: flex;
    margin-bottom: 50px;
}
.spnr{
    font-size: 20px;
    position: absolute;
    right: 1%;
    display: inline-flex;
    font-family: 'Noto Nastaliq Urdu', serif;
    /* background-color: white; */
}
.bg_tiles{
    margin: 2% 5%;
    display: flexbox;
}
.tbg{
    margin: 15px 20px;
    width: 400px;
    height: 220px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: 0.8s;
}
.tiles_bgi1{
    background-image: url(./Imgs/background_1.png);
}
.tiles_bgi2{
    background-image: url(./Imgs/background_2.jpg);
}
.tiles_bgi3{
    background-image: url(./Imgs/background_3.png);
}
.tiles_bgi4{
    background-image: url(./Imgs/background_4.jpg);
}
.tiles_bgi5{
    background-image: url(./Imgs/background_5.jpg);
}
.tiles_bgi6{
    background-image: url(./Imgs/background_6.webp);
}
.tbg:hover{
    filter: contrast(120%) opacity(0.9);
    transform: scale(1.20);
    cursor: pointer;
}
@media screen and (max-width: 1526px) and (min-width: 1301px) {
    .tbg{
        margin: 15px 30px;
        width: 42%;
        height: 280px;
    }
}
@media screen and (max-width: 1300px) and (min-width: 1001px) {
    .tbg{
        margin: 15px 30px;
        width: 42%;
        height: 250px;
    }
    .oobtn{
        top: 25vw !important;
    }
    .ofbtn{
        top: 28vw !important;
    }
}
@media screen and (max-width: 1000px) and (min-width: 861px) {
    .tbg{
        margin: 15px 30px;
        width: 42%;
        height: 200px;
    }
}
@media screen  and (max-width: 860px) and (min-width: 100px){
    .tbg{
        margin: 0px 0px;
        aspect-ratio: 5/3;
    }
}
@media screen and (max-width:800px) and (min-width: 500px){
    .spnr{
        font-size: 15px;
        z-index: 0;
        position: absolute;
        top: 8%;
        left: 11px;
    }
    .spnr video{
        width: 80px;
        position: absolute;
        right: 5px;
        top: 10%;
    }
    .bg_tiles{
        position: absolute;
        top: 20%;
    }
    .bgidx_txt{
        content-visibility: hidden;
    }
}

@media screen and (max-width: 499px) and (min-width: 429px){
    .tbg{
        width: 300px;
        height: 200px;
    }
    .spnr{
        font-size: 15px;
        z-index: 0;
        position: absolute;
        top: 8%;
        left: 11px;
    }
    .spnr video{
        width: 80px;
        position: absolute;
        right: 5px;
        top: 10%;
    }
    .bgidx_txt{
        content-visibility: hidden;
    }
    .bg_tiles{
        position: absolute;
        top: 20%;
    }
}
@media screen and (max-width: 428px) and (min-width: 100px){
    .spnr{
        font-size: 15px;
        z-index: 0;
        position: absolute;
        top: 8%;
        left: 11px;
    }
    .spnr video{
        width: 80px;
        position: absolute;
        right: 5px;
        top: 10%;
    }
    .tbg{
        width: 300px;
        height: 200px;
    }
    .bgidx_txt{
        content-visibility: hidden;
    }
    .bg_tiles{
        position: absolute;
        top: 20%;
    }
}
#tempCanvas{
    height: 0px;
    width: 0px;
}
.active{
    z-index: 2;
}
#outputCanvas{
    background-size: 100% 100%;
    border-radius: 15px;
    width: 42%;
    position: absolute;
    left: 18%;
}
#myVidPlayer{
    border-radius: 15px;
    position: absolute;
    left: 18%;
    width: 42%;
}
#bg_vd{
    position: absolute;
    width: 42%;
    height: 31vw;
    object-fit: cover;
    left: 18%;
    border-radius: 15px;
}
.stidx_txt{
    padding-top: 15px;
    padding-left: 10%;
    font-family: 'Noto Nastaliq Urdu', serif;
    font-size: 20px;
    margin-bottom: 25px;
}
.uploaded_iv{
    max-width: 80%;
    z-index: 1;
    background-image: linear-gradient(to bottom right,rgb(188, 188, 255),rgb(199, 221, 255),rgb(180, 161, 255));
    border: 1px solid black;
    color: rgb(0, 0, 0);
    padding: 15px 15px 20px 15px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
    font-family: 'Noto Nastaliq Urdu', serif;
}
.strmcontainer{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 32vw;
    /* height: 500px; */
    display: flex;
}
#bg_iv{
    background-color: white;
    margin: 15px 15px 15px 10%;
    border: 2px solid black;
    padding: 2px 0px 2px 2px;
    border-radius: 20px;
    text-align: center;
    transition: 0.5s;
}
.bg_iv::-webkit-file-upload-button:hover{
    scale: 1.1;
    margin-left: 3px;
    text-decoration: underline;
    z-index: 2;
}
.bg_iv::-webkit-file-upload-button{
    background: black;
    color: white;
    padding: 6px 15px;
    margin: 0px 10px 0px 1px;
    font-family: 'Courgette', cursive;
    border-radius: 16px;
    z-index: 2;
}
.oobtn {
    z-index: 1;
    width: 15%;
    height: 3.6vw;
    font-family: 'Courgette', cursive;
    font-size: 1.2vw;
    letter-spacing: 1.3px;
    font-weight: 700;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgb(18, 215, 196) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 10vw;
    top: 20vw;
    padding: 10px;
}
  
.oobtn::before {
    content: '';
    border-radius: 1000px;
    width: 105%;
    height: 4.3vw;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}
  
.oobtn:hover{
    box-shadow: 12px 12px 24px rgba(27, 161, 148, 0.64);
    transform: translateY(-6px);
}
  
.oobtn:hover::before, .oobtn:focus::before {
    opacity: 1;
}

.ofbtn {
    z-index: 1;
    width: 15%;
    height: 3.6vw;
    font-family: 'Courgette', cursive;
    font-size: 1.2vw;
    letter-spacing: 1.3px;
    font-weight: 700;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgb(255, 96, 96) 0%, rgb(255, 0, 0) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(209, 79, 79, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 10%;
    top: 25vw;
    padding: 10px;
}
  
.ofbtn::before {
    content: '';
    border-radius: 1000px;
    width: 105%;
    height: 4.3vw;
    box-shadow: 0 0 60px rgba(255, 0, 0, 0.64);
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}
  
.ofbtn:hover{
    box-shadow: 12px 12px 24px rgba(161, 27, 27, 0.64);
    transform: translateY(-6px);
}
  
.ofbtn:hover::before, .ofbtn:focus::before {
    opacity: 1;
}
.hid{
    content-visibility: hidden;
}
.first_1{
    background-image: url(./Imgs/background_1.png);
}
.second_2{
    background-image: url(./Imgs/background_2.jpg);
}
.third_3{
    background-image: url(./Imgs/background_3.png);
}
.fourth_4{
    background-image: url(./Imgs/background_4.jpg);
}
.fifth_5{
    background-image:url(./Imgs/background_5.jpg);
}
.sixth_6{
    background-image:url(./Imgs/background_6.webp);
}
@media screen and (max-width: 1300px) and (min-width: 875px) {
    .oobtn{
        top: 25vw !important;
    }
    .ofbtn{
        top: 28vw !important;
    }
}
@media screen and (max-width: 874px) and (min-width: 710px) {
    #myVidPlayer{
        width: 60%;
        left: 20%;
    }
    #bg_vd{
        width: 60%;
        left: 20%;
        height: 45vw;
    }
    #outputCanvas{
        left: 20%;
        width: 60%;
    }
    .strmcontainer{
        height: 55vw;
    }
    .oobtn{
        padding-top: 10px;
        top: 68vw;
        left: 20%;
        width: 180px;
        height: 50px;
    }
    .oobtn,.ofbtn{
        font-size: 16px;
        transform: translate(0%,0%) !important;
    }
    .ofbtn{
        padding-top: 10px;
        top: 68vw;
        right: 20%;
        width: 180px;
        height: 50px;
    }
}
@media screen and (max-width: 710px) and (min-width: 100px) {
    #myVidPlayer{
        width: 90%;
        left: 5%;
    }
    #bg_vd{
        width: 90%;
        left: 5%;
        height: 67.5vw;
    }
    #outputCanvas{
        width: 90%;
        left: 5%;
    }
    .strmcontainer{
        height: 70vw;
    }
    .oobtn{
        padding-top: 10px;
        top: 85px;
        right: 5%;
        width: 150px;
        height: 45px;
    }
    .oobtn,.ofbtn{
        font-size: 14px;
        transform: translate(0%,0%) !important;
    }
    .ofbtn{
        padding-top: 10px;
        top: 85px;
        right: 5%;
        width: 150px;
        height: 45px;
    }
}
.mcn_btn{
    background-color: #4700852c;
    border: 4px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: 'Noto Nastaliq Urdu', serif;
    border-radius: 10px;
    width: 180px;
    height: 55px;
    font-size: 15px;
    padding: 0px 0px 35px 0px;
    position: absolute;
    right: 18%;
    top: 42%;
    transition: 0.7s;
}
.mcn_btn:hover{
    cursor: pointer;
    background-color: #47008656;
    scale: 1.1;
}
.logo_txt{
    font-size: 19px;
    font-family: 'Noto Nastaliq Urdu', serif;
    line-height: 25px;
    position: absolute;
    left: 18%;
    top: 18%;
    color: rgb(52, 0, 95);
}
@media screen and (max-width: 800px) and (min-width: 501px){
    .logo_txt{
        width: 400px !important;
        left: 10%;
    }
    .mcn_btn{
        top: 50%;
        right:10%;
    }
}
@media screen and (max-width: 500px) and (min-width: 100px){
    .logo_txt{
        width: 300px !important;
        left: 10%;
    }
    .mcn_btn{
        right: 10%;
        top: 50%;
    }
}